/* new css */
.main-wrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  /* border: 3px solid red; */
}

.nav-background {
  width: 100%;
  height: 100%;
  background: var(--light);
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  z-index: 1;
  /* border: 3px olive solid; */
}

.nav-trigger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  cursor: pointer;
  padding: 15px;
  /* border: 3px solid red; */
}

.nav-trigger svg {
  transform: rotate(90deg) scaleX(-1);
  width: 40px;
  height: 40px;
}

.side-content-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  background: var(--heaven);
  z-index: 2;
  transition: 0.3s;
  /* border: 4px solid; */
}

.side-content-wrapper.scaled {
  transform: scale(0.9) translateX(90%);
  border-radius: 3px;
  box-shadow: 0 3px 10px 0 var(--secondary-color);
}

.side-content {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

/* fonts */
@font-face {
  font-family: "Railway-regular";
  src: url(../fonts/Raleway-Regular.ttf);
}

@font-face {
  font-family: "Railway-Medium";
  src: url(../fonts/Raleway-Medium.ttf);
}

@font-face {
  font-family: "Railway-Bold";
  src: url(../fonts/Raleway-Bold.ttf);
}

@font-face {
  font-family: "Railway-Semibold";
  src: url(../fonts/Raleway-SemiBold.ttf);
}

@font-face {
  font-family: "Railway-black";
  src: url(../fonts/Raleway-Black.ttf);
}

@font-face {
  font-family: "Railway-extrabold";
  src: url(../fonts/Raleway-ExtraBold.ttf);
}

/* colors */
:root {
  --primary-color: #eebf00;
  --secondary-color: #232b28;
  --ternary: #6c6c6c;
  --danger: #fe4545;
  --pure: #fefefe;
  --light: #f0f0f0;
  --heaven: #ffffff;
  --footer: #2d333f;
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  height: 4000px;
  font-family: "Railway-regular";
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1152px;
  }
}

header.topbar {
  background: var(--secondary-color);
  color: var(--pure);
  font-family: "Railway-semibold", sans-serif;
  padding: 0.25rem 0;
}

header.topbar .auth > div a {
  color: var(--pure);
  text-decoration: none;
}

header.topbar .icons a {
  margin-right: 0.6rem;
}

header.topbar .auth .divider {
  padding: 0 1rem;
}

header.topbar .auth > div img {
  margin-right: 0.35rem;
}

/* utility class */
.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.magic-shadow {
  position: relative;
  background: var(--heaven);
}

.section__heading {
  font-family: "Railway-Bold", sans-serif;
  text-align: center;
  position: relative;
  margin-bottom: 6rem;
}

.section__heading::after {
  content: "";
  display: block;
  width: 100%;
  height: 30px;
  background-image: url(../icons/hr.svg);
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  bottom: -40px;
}

.btn {
  padding: 0.8rem 0.85rem;
  border-radius: 4px;
  line-height: 0.8;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 1px solid transparent;
}

.magic-shadow-sm {
  position: relative;
  background: var(--heaven);
}

.magic-shadow:after {
  content: "";
  display: block;
  width: 100%;
  height: 69px;
  background-image: url(../icons/shadow.svg);
  bottom: -22px;
  background-position: center;
  z-index: -20px;
  position: absolute;
  background-repeat: no-repeat;
  z-index: -1;
}

.magic-shadow-sm:after {
  content: "";
  display: block;
  width: 100%;
  height: 69px;
  background-image: url(../icons/shadow-sm.svg);
  bottom: -22px;
  left: 50%;
  transform: translateX(-50%);
  background-position: center;
  z-index: -20px;
  position: absolute;
  background-repeat: no-repeat;
  z-index: -1;
}

nav .top {
  padding: 1.5rem 0;
}

nav .top .contact h5,
nav .top .time h5 {
  font-weight: 700;
  font-family: "Railway-black", sans-serif;
  margin-bottom: 0.25rem;
}

nav .top .contact h6,
nav .top .time h6 {
  font-family: "Railway-medium", sans-serif;
  letter-spacing: 0.055rem;
  color: var(--ternary);
}

nav .top .contact img,
nav .top .time img {
  margin-right: 1rem;
}

nav .navbar a {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 1rem;
  font-family: "Railway-semibold", sans-serif;
  padding: 1rem 1.5rem;
  transition: all 0.3s ease;
}

nav .navbar a.active {
  border-radius: 0.5rem;
  background: var(--primary-color);
  color: var(--pure);
}

nav .navbar a:hover {
  background: var(--primary-color);
  color: var(--pure);
  border-radius: 0.5rem;
}

/* ============ hero section ============= */

header.hero {
  height: 600px;
  background-image: url("../images/hero.png");
  background-position: 0% 0%;
  background-repeat: no-repeat;
  overflow: hidden;
}

header.hero .container {
  position: relative;
}

header.hero .welcome {
  margin-bottom: 0.25rem;
}

header.hero .welcome span {
  font-family: "Railway-bold", sans-serif;
}

header.hero .welcome span {
  font-family: "Railway-bold";
  color: var(--secondary-color);
  margin-right: 0.75rem;
}

header.hero h1 {
  font-family: "Railway-extrabold", sans-serif;
  color: var(--secondary-color);
  font-size: 2.5rem;
  margin-bottom: 0.75rem;
}

header.hero h1 span {
  color: var(--primary-color);
}

header.hero p {
  font-family: "Railway-medium";
  width: 50%;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.btn-primary {
  background: var(--primary-color);
  color: var(--heaven);
}

.btn-primary:hover {
  background: var(--heaven);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.btn-secondary {
  background: var(--secondary-color);
  color: var(--heaven);
}

.btn-secondary:hover {
  background: var(--heaven);
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

header.hero button:first-child {
  margin-right: 0.5rem;
}

header.hero .hero-img {
  position: absolute;
  top: -40px;
  right: 40px;
}

/* product section */
section {
  padding: 4rem 0;
}

section.top-products {
  background: var(--light);
}

section.top-products .food-slider .food__card {
  background: var(--heaven);
  padding: 1.5rem 0;
  border-radius: 4px;
}

section.top-products .food-slider .food__card .product-img img {
  width: 80%;
  height: 200px;
  object-fit: contain;
  padding-bottom: 1rem;
}

hr {
  border: 1px solid var(--light);
  opacity: 0.8;
  margin: 1rem 0;
}

section.top-products .food-slider .food__card h2 {
  font-family: "Railway-Bold", sans-serif;
  margin-bottom: 0.25rem;
}

.text-center {
  text-align: center;
}

section.top-products .food-slider .food__card .stars {
  margin-bottom: 0.5rem;
}

section.top-products .food-slider .food__card .stars img {
  margin-right: 0.25rem;
}

section.top-products .food-slider .food__card .price {
  font-family: "Railway-medium", sans-serif;
  color: var(--danger);
  margin-bottom: 1rem;
}

section.top-products .food-slider .food__card button {
  font-family: "Raleway-medium", sans-serif;
  color: var(--secondary-color);
  background: var(--heaven);
  border: 2px solid var(--primary-color);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  width: 50%;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.food-slider .food__card button img {
  background: var(--primary-color);
  padding: 0.5rem;
  height: 32px;
  margin-right: 1.2rem;
}

section.top-products .food-slider .food__card button:hover {
  background: var(--primary-color);
  color: var(--heaven);
}

.slick-side {
  margin: 0 27px;
}

.slick-list {
  margin: 0 -27px;
}

.top-products .slider-btn {
  width: 30px;
  height: 30px;
  border: none;
  background: var(--primary-color);
  border-radius: 0.5rem;
  cursor: pointer;
  outline: none;
}

.prev-btn {
  position: absolute;
  top: 46%;
  left: -5rem;
  z-index: 999;
}

.next-btn {
  position: absolute;
  top: 46%;
  right: -5rem;
  z-index: 999;
}

.top-products .slider {
  position: relative;
}

.top-products .btn-wrapper {
  margin-top: 2rem;
}

.slick-track {
  padding: 1rem 0;
}

section.about-meal img {
  width: 85%;
}

/* utility class */
.flex-1 {
  flex: 1;
}

section.about-meal h2 {
  font-family: "Eailway-bold", sans-serif;
  font-size: 1.4rem;
  color: var(--secondary-color);
  margin-bottom: 2rem;
  line-height: 1.3;
}

section.about-meal p {
  line-height: 1.7;
  margin-bottom: 4rem;
}

section.our-services {
  background: var(--light);
  z-index: 0;
  position: relative;
}

section.our-services .card-wrapper {
  margin-right: -2rem;
  margin-top: 8rem;
}

section.our-services .service-card {
  background: var(--heaven);
  text-align: center;
  padding: 2rem;
  padding-top: 4rem;
  margin-right: 2rem;
  position: relative;
  border-radius: 0.5rem;
}

section.our-services .service-card .icon {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
}

section.our-services .service-card h2 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

section.our-services .service-card p {
  line-height: 1.6;
  margin-bottom: 1rem;
}

/* utility class */
.text-primary {
  color: var(--primary-color);
}

/* timer css */

section.big-deal {
  background: linear-gradient(rgba(35, 43, 56, 0.9), rgba(35, 43, 56, 0.9)),
    url(../images/food-table.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-bottom: 2rem;
  background-position: center;
}

section.big-deal .timer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: -2rem;
}

section.big-deal .timer div {
  margin-right: 2rem;
  background: var(--primary-color);
  width: 150px;
  height: 150px;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section.big-deal .timer div span:first-child {
  font-family: "Railway-Semibold", sans-serif;
  font-size: 2.5rem;
  color: var(--heaven);
  margin-bottom: 0.05rem;
}

section.big-deal .timer div span:second-child {
  font-family: "Raleway-Medium", sans-serif;
  color: var(--heaven);
}

.text-pure {
  color: var(--pure);
}

.latest-news .article-wrapper .card img {
  width: 100%;
}

.latest-news .article-wrapper .card {
  margin-right: 2rem;
  background: var(--heaven);
  border-radius: 0.5rem;
}

section.latest-news {
  background: var(--light);
  position: relative;
  z-index: 0;
}

section.latest-news .article-wrapper {
  display: flex;
  margin-right: -2rem;
}

.latest-news .article-wrapper .card .card-content {
  padding: 2rem;
}

.latest-news .article-wrapper .card .card-content .post-meta {
  margin-bottom: 1rem;
}

.latest-news .article-wrapper .card .card-content .post-meta .comment-count {
  margin-left: 1rem;
}

.latest-news .article-wrapper .card .card-content h2 {
  font-family: "Railway-Bold", sans-serif;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  bottom: 2px var(--secondary-color) solid;
}

.latest-news .article-wrapper .card .card-content p {
  line-height: 1.6;
}

.latest-news .btn-wrapper {
  margin-top: 2rem;
}

section.subscribe {
  background: var(--primary-color);
}

section.subscribe .container > div:first-child img {
  width: 90%;
}

section.subscribe .container div:first-child {
  flex: 1;
}

section.subscribe .container div:last-child {
  flex: 1;
}

section.subscribe h1 {
  font-family: "Railway-bold", sans-serif;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

section.subscribe p {
  font-family: sans-serif;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  line-height: 1.5rem;
}

section.subscribe .input-wrap {
  background: var(--heaven);
  display: flex;
  padding: 0.4rem;
  border-radius: 0.5rem;
}

section.subscribe .input-wrap input {
  width: 100%;
  border: none;
  padding: 0 1rem;
  font-size: 1rem;
}

section.subscribe .input-wrap button {
  padding: 0.8rem 2rem;
  border: none;
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  color: var(--pure);
  outline: none;
  transition: all 0.3s ease-in-out;
}

section.subscribe .input-wrap button:hover {
  background-color: var(--secondary-color);
}

/* contact us section */

section.contact-us {
  padding-top: 0;
  padding-bottom: 0;
}

section.contact-us .contact-info-wrapper {
  padding: 4rem 0;
  flex: 1;
}
section.contact-us .map {
  padding: 4rem 0;
  flex: 1;
  /* to make map black and white */
  filter: grayscale(100%);
}

section.contact-us .contact-info {
  display: flex;
  justify-content: center;
}

section.contact-us .contact-info > div > div {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

section.contact-us .contact-info > div > div img {
  margin-right: 1rem;
}

section.contact-us .contact-info > div > div > div {
  display: flex;
  flex-direction: column;
}

section.contact-us .contact-info > div > div > div span:first-child {
  font-family: "Railway-bold", sans-serif;
  margin-bottom: 0.25rem;
}

/* footer  */
footer {
  background-color: var(--footer);
  padding: 4rem 0;
}
footer .container {
  display: flex;
  color: var(--pure);
}

footer .box {
  flex: 1;
  margin-right: 2rem;
  text-align: center;
}

footer .instagram-api img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

footer .instagram-api .post-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .instagram-api .post-wrap > div {
  width: calc(1 / 3 * 100% - (1 - 1 / 3) * 10px);
  margin-bottom: 10px;
}

footer .box ul {
  list-style-type: none;
  color: var(--pure);
}

footer .box ul a {
  color: var(--pure);
  transition: all 0.5s ease-in-out;
  text-decoration: none;
}

footer .box ul li a:hover {
  color: var(--primary-color);
}

footer .box h3 {
  border-bottom: 1px solid var(--primary-color);
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

footer .box p {
  line-height: 1.6;
  margin-bottom: 1rem;
}

footer .box ul li {
  margin-bottom: 1rem;
}

footer .box:nth-child(3) > div {
  display: flex;
  justify-content: center;
}

footer .box:nth-child(3) {
  text-align: left;
}

footer .box:nth-child(3) ul li {
  margin-bottom: 1.5rem;
}

footer.copyright {
  padding: 1rem 0;
  background-color: var(--secondary-color);
}

footer.copyright > div {
  text-align: center;
  font-size: 1rem;
}

footer.copyright > div span {
  color: var(--primary-color);
}
